body {
  background: url("https://tinder.com/static/build/087be2efe62368619a29218065a834d9.jpg")
    no-repeat center center fixed;
  background-size: cover;
}
.loginfb {
  background: linear-gradient(260deg, #337eb9, #384499);
  font-weight: 600;
  color: white;
  border: none;
  transition: all 1s;
}
.loginfb:hover {
  background: linear-gradient(260deg, #384499, #384499);
  color: white;
}
.loginsdt {
  border-width: 1px;
  border-color: gray;
  color: gray;
  font-weight: 600;
}
.sdt{
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}
.loginsdt:hover {
  color: #fd5068;
}
.info {
  color: white;
}
.login {
  color: #fd5068;
  border: none;
  font-weight: 600;
}
.login:hover {
  color: white;
}
#homepage h1 {
  font-size: 8vw;
  line-height: 1.18;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}
#homepage p {
  font-size: 15px;
  font-weight: 200;
  line-height: 25px;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}
.register {
  border: none;
  font-weight: 600;
  line-height: 40px;
  border-radius: 20px;
  background: linear-gradient(262deg, #ff7854, #fd267d);
}
#login {
  background-color: #fefefe;
  border-radius: 10px;
  animation: animatezoom 0.5s;
}
#logintable {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: animatezoom 0.5s;
}
.close {
  right: 25px;
  color: #000;
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
  transition: all 0.5s;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  transform: rotate(360deg);
  transform-origin: 53% 75% 0;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
